@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
body{
  background-image: url("../img/bk.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
div#title{
  font-family: 'Bungee Shade';
  font-size: 55pt;
  float: center
}
