body{
  margin: 25px;
  padding:50px;
  border-style: solid;
  border-color: #629681;
      background-image: url("../img/tropical.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-size: width: 100%, height 100%;
      background-position: center;
 background-size: cover;

}
div.heading{
  text-transform: capitalize;
  letter-spacing: 5px;
  font-family: 'Lancelot', cursive;
  color: #b5a98f;
}
p{
color: white;
border:2px solid #b5a98f;
margin: 20px;
padding: 20px;
width: 550px;
background-color: #141D26
}
#center{
  text-align: center;
  color: #b5a98f;
}
nav{
  font:"Lancelot" cursive;
  text-transform: capitalize;
  color: #b5a98f;
  letter-spacing: 5px;
  border:2px dotted #b5a98f;
  margin: 20px;
  padding: 20px;
  background-color: #141D26
}
a{
  color: #b5a98f;
}
aside#sidebar{
style: inline block;
width: 300px;
padding: 20px;
margin: 20px;
border: dotted #b5a98f 2px;
float: right;
background-color: #141D26

}
div.list{
  font:"Lancelot" cursive;
  color: white;
letter-spacing: 2px;

}
